*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/OpenCVLib/build/intermediates/cxx/create_cxx_tasks_500_timing.txt
/OpenCVLib/build/intermediates/cxx/Debug/526g6o5r/meta/arm64-v8a/generate_cxx_metadata_30_timing.txt
