<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.irlab.view">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Robotgo"
        tools:remove="android:appComponentFactory">
        <activity android:name=".activity.BluetoothActivity"
            android:exported="false"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".activity.TestSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DefineBoardPositionActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.InstructionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetectBoardActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.SelectConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SGFInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainView"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>